<h2><%= @task.title%></h2>
<p><%= @task.details%></p>
<% if @task.completed %>
<p><%= "The task is completed"%></p>
<% end %>
<p><%= link_to "Edit", edit_task_path %></p>
<p><%= link_to "Back to the list", tasks_path %></p>
